---
import DocumentLayout from '../../layouts/DocumentationLayout.astro'
---

<DocumentLayout title='Astro Docs | Markdown' headers={[]}>
  <p>Placeholder for the markdown page!</p>
</DocumentLayout>
