---
import DocumentLayout from '../../layouts/DocumentationLayout.astro'
---

<DocumentLayout title='Astro Docs | Navigation' headers={[]}>
  <p>Placeholder for the navigation page!</p>
</DocumentLayout>
