---
import DocumentLayout from '../../layouts/DocumentationLayout.astro'
---

<DocumentLayout title='Astro Docs | Reusable Snippets' headers={[]}>
  <p>Placeholder for the reusable snippets page!</p>
</DocumentLayout>
