---
import DocumentLayout from '../../layouts/DocumentationLayout.astro'
---

<DocumentLayout title='Astro Docs | Settings' headers={[]}>
  <p>Placeholder for the settings page!</p>
</DocumentLayout>
