---
interface Props {
  url: string
}

const { url } = Astro.props
---

<a
  target='_blank'
  rel='noopener noreferrer'
  href={url}
  class='inline-block border-b-2 border-primary/80 hover:border-primary'>
  <slot />
</a>
