---
import { ChevronRight, Command, Search } from 'lucide-react'
import { SearchDialog } from '../SearchDialog'
import { SettingsDropdown } from '../SettingsDropdown'
import ThemeToggle from '../ThemeToggle.astro'
import SubHeader from './SubHeader.astro'
---

<header class='fixed shrink-0 w-full bg-background-blur backdrop-blur-lg z-50'>
  <nav class='px-4 h-14 lg:px-0'>
    <div class='flex justify-between items-center h-full border-b lg:px-10'>
      <div>
        <a
          href='/'
          class='flex gap-2 items-center'
          aria-label='Astro documentation'>
          <div class='w-8 h-8 hidden dark:block'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 65 65'
              ><path
                fill='#FFF'
                d='M39.445 25.555 37 17.163 65 0 47.821 28l-8.376-2.445Zm-13.89 0L28 17.163 0 0l17.179 28 8.376-2.445Zm13.89 13.89L37 47.837 65 65 47.821 37l-8.376 2.445Zm-13.89 0L28 47.837 0 65l17.179-28 8.376 2.445Z'
              ></path></svg
            >
          </div>

          <div class='w-8 h-8 dark:hidden block'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 65 65'
              ><path
                fill='#000'
                d='M39.445 25.555 37 17.163 65 0 47.821 28l-8.376-2.445Zm-13.89 0L28 17.163 0 0l17.179 28 8.376-2.445Zm13.89 13.89L37 47.837 65 65 47.821 37l-8.376 2.445Zm-13.89 0L28 47.837 0 65l17.179-28 8.376 2.445Z'
              ></path></svg
            >
          </div>

          <h4 class='text-xl'>
            <span class='font-extrabold'>Epic</span>
            <span class='font-normal'>Stack</span>
          </h4>
        </a>
      </div>

      <div class='hidden lg:flex lg:flex-1 lg:justify-center mx-4'>
        <div
          class='relative w-full min-w-[140px] max-w-md'
          style='width: 28vw;'>
          <Search
            className='absolute left-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-muted-foreground'
          />
          <input
            type='search'
            class='flex h-9 w-full rounded-lg border bg-transparent pl-10 pr-10 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary disabled:cursor-not-allowed disabled:opacity-50'
            placeholder='Search or ask...'
          />
          <Command
            className='absolute right-3 top-1/2 transform -translate-y-1/2 w-3 h-3 text-muted-foreground'
          />
        </div>
      </div>

      <div class='hidden lg:flex gap-2 items-center'>
        <button
          class='hidden h-8 rounded-md px-3 text-sm lg:inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50'
          >Support</button
        >
        <button
          class='hidden bg-primary dark:bg-primary/10 h-8 rounded-full px-3 text-sm lg:inline-flex items-center justify-center border whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border-primary text-primary-foreground dark:text-primary gap-2 mr-2'>
          Dashboard
          <ChevronRight className='w-3 h-3' />
        </button>
      </div>

      <div class='flex'>
        <div class='flex lg:hidden gap-2'>
          <SearchDialog client:load aria-label='Search menu' />
          <SettingsDropdown client:load aria-label='Settings menu' />
        </div>
        <ThemeToggle />
      </div>
    </div>
  </nav>
  <SubHeader />
</header>
