---
import { ChevronRight } from 'lucide-react'
import { getCurrentPageInfo } from '../../lib/utils'
import { MenuButton } from '../MenuButton'
const site = import.meta.env.SITE_CONFIG

const currentUrl = Astro.url.pathname.replace(/^\/|\/$/g, '')
const pageInfo = getCurrentPageInfo(currentUrl, site)
const path = Astro.url.pathname
---

<div class='flex items-center gap-4 px-4 h-14 border-b lg:px-10'>
  <MenuButton path={path || '/'} client:load />
  {
    pageInfo ? (
      <div class='flex items-center gap-1'>
        <p class='text-muted-foreground'>{pageInfo.group}</p>
        <ChevronRight className='w-3 h-3 text-muted-foreground' />
        <p>{pageInfo.page}</p>
      </div>
    ) : (
      <p>Page information not found.</p>
    )
  }
</div>
