---
import ContentContainer from '../components/ContentContainer.astro'
import DocumentationLayout from '../layouts/DocumentationLayout.astro'
---

<DocumentationLayout title='Quickstart' headers={[]}>
  <ContentContainer>
    <p>Placeholder for the development page!</p>
  </ContentContainer>
</DocumentationLayout>
