---
import DocumentLayout from '../layouts/DocumentationLayout.astro'
---

<DocumentLayout title='Astro Docs | Development' headers={[]}>
  <p>Placeholder for the development page!</p>
</DocumentLayout>
