---
import DocumentLayout from '../layouts/DocumentationLayout.astro'
---

<DocumentLayout title='Astro Docs | Quickstart' headers={[]}>
  <p>Placeholder for the quickstart page!</p>
</DocumentLayout>
