---
import { AlignLeft } from 'lucide-react'
import type { TocItem } from '../lib/toc'
import TOCHeading from './TOCHeading.astro'

interface Props {
  toc: TocItem[]
}
const { toc } = Astro.props
---

<aside class='toc-container'>
  <h4 class='toc-title'>
    <AlignLeft className='w-4 h-4 inline-block mr-2' />
    On this page
  </h4>
  <ul class='toc-list'>
    {toc.map((heading) => <TOCHeading heading={heading} />)}
  </ul>
</aside>

<!-- TODO: Move this to global stylesheet -->
<style>
  .toc-container {
    @apply fixed top-32 right-0 pl-10 w-96 hidden xl:block;
  }
  .toc-title {
    @apply text-base font-semibold flex items-center;
  }
  .toc-list {
    @apply mt-2 pl-1 text-sm space-y-1;
  }
</style>
