---
import Sidebar from '../components/Sidebar.astro'
import Toc from '../components/Toc.astro'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'
import type { TocItem } from '../lib/toc'
import MainLayout from './MainLayout.astro'
import siteConfig from '../config/site'

interface Props {
  toc: TocItem[]
  title: string
}

const { toc, title } = Astro.props
import PrevNextLinks from '../components/docs/Links.astro'
---

<MainLayout title={title}>
  <Header />
  <div class='grid grid-cols-12 lg:px-4'>
    <Sidebar anchors={siteConfig.anchors} navigation={siteConfig.navigation} />
    <main
      class='col-span-12 xl:col-span-9 px-4 lg:px-10 mt-32 lg:pl-72 lg:ml-10'>
      <div class='min-h-screen'>
        <slot />
      </div>
      <PrevNextLinks />
      <Footer />
    </main>
    <Toc toc={toc} />
  </div>
</MainLayout>

<script src='../scripts/toc.js'></script>
